@media only screen and (max-width: 600px) {
    
    html, body {
        margin: 0;
    }

    div {
        border: 1px solid red;
    }
    
    .flex {
        display: flex;
    }

    .left-flex {
        width: 55%;
    }

    .right-flex {
        width: 45%;
    }

    #header {
        height: 17vh;
    }

    #header-static-menu div {
        height: 50%;
    }

    #content-menu {
        height: 83vh;
    }

    #content-menu-left div {
        height: 50%;
    }

  }